[submodule ".packer-docker"]
	path = .packer-docker
	url = https://github.com/lancekuo/packer-docker
[submodule "post/prometheus"]
	path = post/prometheus
	url = https://github.com/lancekuo/prometheus
[submodule "post/elk"]
	path = post/elk
	url = https://github.com/lancekuo/elk
[submodule "post/dfproxy"]
	path = post/dfproxy
	url = https://github.com/lancekuo/dfproxy
