[submodule ".packer-docker"]
	path = .packer-docker
	url = https://github.com/lancekuo/packer-docker.git
[submodule "prometheus"]
	path = prometheus
	url = https://github.com/lancekuo/prometheus
[submodule "elk"]
	path = elk
	url = https://github.com/lancekuo/elk
